# Ignore everything
*
*/*/*/.venv/

# Do not ignore .gitignore
!.gitignore

# Do not ignore image directory
!images/**

# But don't ignore folders
!*/

# But don't ignore these specific file types (example: .txt and .md files)
!*.txt
!*.md
!*.sh
!*.c
!*.h
!*.py
!*.css
!*.html
!*.yaml
!*Jenkinsfile

# Enforce ignoring those
**/.idea/
**/.vscode/
**/.venv/
**/venv/
**/__pycache__/
*.py[cod]
*.log
*.pre-commit-config.yaml

# Docker
*.log
*.tmp
docker-compose.override.yml
.docker/

# Environment variables
.env


