replicaCount: 2

image:
  repository: helentam93/k8s-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  port: 8000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

nodeSelector: {}
tolerations: []
affinity: []

